body {
	color:black;
}

h1 {
	font-size:28px;
}

h2 {
	font-size:24px;
	padding: 15px 3px 3px 3px;
}

h3 {
	font-size:20px;
	background-color:navy;
	color: white;
	padding: 3px 3px 3px 3px;
}

h4 {
	font-size:16px;
}

pre {
	padding-top: 5px;
	border-top: 1px solid grey;
	padding-left: 5px;
	border-left: 1px solid grey;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}

.menu
{
	text-align:left;
	height:24px;
	z-index:10;

}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display:block;
	width: 100%;
	height: 18px;
}

.menu li {
	float:left;
	display:inline;
	margin: 0px 0px 0;
	padding: 0;
}


.menu li a {
	display: inline;
	padding:2px 10px 2px 10px;
	width:120px;
	text-align:center;
	text-decoration:none;
	cursor: hand;
	color:navy;
	float:left;
	font-weight:bold;
}

.menu a:link, .menu a:active, .menu a:visited {
}

.menu a:hover {
	padding:2px 10px 2px 10px;
	font-weight:bold;
	text-decoration:none;
	background-color:white;
}

.menuBlock {
	position:absolute;
	border:1px solid grey;
	width:100px;
	left:-200px;
	top:85px;
	height:24px;
	opacity:0.25;
	filter:alpha(opacity:25);
}

.menuBlock2 {
	position:absolute;
	background-color:lightgrey;
	overflow:hidden;
	width:50px;
	left:-200px;
	top:85px;
	height:10px;
}

.sidebar {
	text-align:center;
}

.content {
 	width:400px; 
	height:200px;
	overflow:scroll;
	padding:5px 5px 5px 5px;
}