BODY {
	color: black;
	font-family: arial,sans-serif;
	margin: 0;
	padding: 1ex;
}

TABLE {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 0;
	color: inherit;
}

IMG { border: 0; }
FORM { margin: 0; }
input { margin: 2px; }

A:link, A:visited {
	background: transparent;
	color: #006699;
}

A[href="#POD_ERRORS"] {
	background: transparent;
	color: #FF0000;
}

TD {
	margin: 0;
	padding: 0;
}

DIV {
	border-width: 0;
}

DT {
	margin-top: 1em;
}

TH {
	background: #bbbbbb;
	color: inherit;
	padding: 0.4ex 1ex;
	text-align: left;
}

TH A:link, TH A:visited {
	background: transparent;
	color: black;
}

.pod PRE     {
	background: #eeeeee;
	border: 1px solid #888888;
	color: black;
	padding: 1em;
	padding-bottom: 0;
	white-space: pre;
}

.pod H1      {
	background: transparent;
	color: #006699;
	font-size: large;
}

.pod H2      {
	background: transparent;
	color: #006699;
	font-size: medium;
}

.pod IMG     {
	vertical-align: top;
}

.pod .toc A  {
	text-decoration: none;
}

.pod .toc LI {
	line-height: 1.2em;
	list-style-type: none;
}

.faq DT {
	font-size: 1.4em;
	font-weight: bold;
}

.toplink {
	margin: 0;
	padding: 0;
	float: right;
	font-size: 80%;
}
