<a name="form"></a>
<form method="post">
<select name="attr">
	<option value="title">Naslov</option>
	<option value="issn">ISSN</option>
	<option value="all">Svi podaci</option>
</select>

<input name="search" type="text">

<select name="attr_operator">
	<option value="Q*" />bilo koja riječ</option>
	<option value="BW Q" />početak</option>
	<option value="BW Q EW" />točan oblik<br/>
</select>

<input name=".submit" value="Pretraži" type="submit">

<div id="plimit">
<select name="entries_per_page" title="entries per page">
<option value="30">30</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="500">500</option>
</select>
rezultata po stranici
</div>


<div id="inputs">

<h2>Zbirke:</h2>
<ul>
<li>Cairn</li> 
<li>Cambridge Journals - Humanities and Social Sciences Collection (obnovljeno 12.6.2015.)</li> 
<li>DOAJ - Directory of Open Access Journals (obnovljeno 4.4.2016.)</li> 
<li>EBSCO Academic Search Complete (obnovljeno 26.1.2015.)</li> 
<li>EBSCO Business Source Complete (obnovljeno 26.1.2015.)</li> 
<li>EBSCO CINAHL with Full Text (obnovljeno 26.1.2015.)</li> 
<li>EBSCO Film and Television Literature Index with Full Text (obnovljeno 26.1.2015.)</li>
<li>EBSCO GreenFILE (obnovljeno 26.1.2015.)</li> 
<li>EBSCO Health Source - Consumer Edition (obnovljeno 26.1.2015.)</li>
<li>EBSCO Health Source: Nursing/Academic Edition (obnovljeno 26.1.2015.)</li>
<li>EBSCO MasterFILE Premier (obnovljeno 26.1.2015.)</li>
<li>EBSCO SocINDEX with Full Text (obnovljeno 26.1.2015.)</li>
<li>EBSCO Psychology and Behavioral Sciences Collection (obnovljeno 26.1.2015.)</li>
<li>Hrčak (obnovljeno 20.1.2015.)</li> 
<li>Journals@Ovid Full Text (obnovljeno 20.1.2015.)</li>
<li>JSTOR (obnovljeno 5.11.2015.)</li> 
<li>Project MUSE (obnovljeno 27.1.2015.)</li> 
<li>PsycARTICLES (obnovljeno 26.1.2015.)</li> 
<li>PubMed Central (obnovljeno 27.1.2015.)</li>
<li>SAGE - Humanities and Social Sciences (obnovljeno 3.11.2015.)</li>
<li>ScienceDirect (obnovljeno 22.1.2015.)</li>
<li>SpringerLink - Humanities, Social Sciences and Law</li>
<li>Taylor and Francis Online (obnovljeno 3.11.2015.)</li>
<li>Pojedinačni naslovi</li>
</ul>


<!--
<input name="current_page" value="1" type="hidden">
-->
<!--
<label><input name="debug" value="on" default="0" type="checkbox">debug</label>
-->


<!--
<h2>Zbirke</h2>
<label><input name="only_input" value="cairn" type="checkbox">Cairn</label><br> 
<label><input name="only_input" value="cambridge" type="checkbox">Cambridge Journals</label><br> 
<label><input name="only_input" value="doaj" type="checkbox">DOAJ - Directory of Open Access Journals</label><br> 
<label><input name="only_input" value="ebsco-asc" type="checkbox">EBSCO Academic Search Complete</label><br> 
<label><input name="only_input" value="ebsco-bsc" type="checkbox">EBSCO Business Source Complete</label><br> 
<label><input name="only_input" value="ebsco-mfp" type="checkbox">EBSCO MasterFILE Premier</label><br> 
<label><input name="only_input" value="ebsco-gf" type="checkbox">EBSCO GreenFILE</label><br> 
<label><input name="only_input" value="ebsco-si" type="checkbox">EBSCO SocINDEX with Full Text</label><br> 
<label><input name="only_input" value="emerald" type="checkbox">Emerald EMX95</label><br> 
<label><input name="only_input" value="hrcak" type="checkbox">Hrčak</label><br> 
<label><input name="only_input" value="jstor" type="checkbox">JSTOR</label><br> 
<label><input name="only_input" value="ovid" type="checkbox">Ovid Full Text</label><br> 
<label><input name="only_input" value="muse" type="checkbox">Project MUSE</label><br> 
<label><input name="only_input" value="pubmed" type="checkbox">PubMed Central</label><br>
<label><input name="only_input" value="sd" type="checkbox">ScienceDirect</label><br>
<label><input name="only_input" value="springer" type="checkbox">SpringerLink - Humanities, Social Sciences and Law</label><br>
-->

</div>



<div id="inputs"></div>
<div>
	<input name=".cgifields" value="debug" type="hidden">
	<input name=".cgifields" value="attr" type="hidden">
</div>
</form>
