/* design for this vhost */

.title, .urlp {
	display: block;
	padding-left: 11em;
}

.title {
	font-weight: bold;
	color: #336699 ;
}

a {
	color: #336699 ;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#inputs label {
	clear: left;
}

#results label {
	width: 11em;
}

h1 {
	font-family: Trebuchet MS,Lucida,Arial,sans-serif ;
	color: #336699 ; 
	color: #FF6600 ;
	color: #336699 ;
	font-size: 24px;
	font-weight: 100;
}

h2 {
	font-weight: bold;
	padding-top: 30px;
	font-size: 15px;
	color: #666;
}	

body {
	color: #666666;
	font-size: 12px;
}

form label,
form select,
form input {
        float: none;
}


form input[name=search] {
	clear: none;
}


#attr_operator {
	font-size: 12px;
	padding-left: 8em;
}

#plimit {
	text-align: right;
	float: right;
}

.message {
	background-color: #FFF;
	color: #666;
	font-size: 90%;
}
