body {
	margin: 3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	color: #369;
}

h1 {
	margin: 0;
	font-size: 150%;
	color: #008;
}

h2 {
	margin: 0;
	font-size: 120%;
	color: #008;
	padding-top: 1em;
}

#description {
	font-size: 80%;
}

a.skip {
	float: right;
	color: #aaa;
}

form {
	margin-top: 2em;
}

form label,
form select,
form input {
	float: left;
}

form input[name=search] {
	clear: left;
}

form #inputs {
	clear: left;
}

#results {
	margin-top: 2em;
	border: 1px solid #eee;
}

#results label {
	width: 10em;
	float: left;
}

#results ol {
	margin-right: 2em;
	margin-bottom: 2em;
}

#results ol li {
	margin-bottom: 1em;
}

#results li.z {
	background: #eee;
}

li div {
	clear: left;
	border-top: 2px dotted #eee;
}

li.z div {
	clear: left;
	border-top: 2px dotted #fff;
}


ul.pager {
	background: #eee;
	padding: 0.5em;
	margin: 0;
	clear: both;
}

ul.pager li {
	list-style: none;
	display: inline;
	width: 3em;
}

ul.pager li.skip {
	color: #888;
}

ul.pager li.current_page {
	font-weight: bold;
	color: #000;
}

.dump {
	background-color: #efe;
	clear: both;
}

div.dump > pre {
	background-color: #eef;
	margin: 0;
}

.error {
	background-color: #fcc;
	color: 000;
}

.message {
	background-color: #ffc;
	color: #000;
	padding: 0.5em;
}
