<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
 <title>[% headline %]</title>
</head>
<body>
<table>
[%
	FOREACH key IN data.keys ;
		d = data.$key ;
		IF d.display
-%]
<tr class="[% d.tag %]">
 <td>
  [% d.name %]
 </td>
 <td>
[%
			IF (d.tag == 'BroaderTerm' || d.tag == 'NarrowerTerm' || d.tag == 'RelatedTerm') ; '<ul><li>' ; d.display.sort.join("</li><li>") | CROVOC_img ; '</li></ul>' ;
			ELSE ; d.display.join(" ") ; END
-%]
 </td>
</tr>
[%		END ;
	END ;
-%]
</table>
</body>
</html>
