/* user CSS file */

#holder {
        width: 38em;
        border: 0px solid gold;
        padding: 0.5em;
}

#bookcov {
	float: left;
        border: 0px dashed blue;
        background: white;
        margin-right: 1em;
	width: 4em; 
	text-align: center;
        height: 5em;
 
}

#desc_short {
       padding-left: 7em;
       border: 0px solid blue;
       width: 25em;
       font-size: 0.8em;
       min-height: 8em;
}

#links {
        float: right;
        border: 0px solid orange;
        margin-left: 1em;
        width: 13em;
        font-size: 0.8em; 
        text-align: left; 
        vertical-align: top;
}

.redstar {
        list-style: url(http://membres.lycos.fr/vgh/images/st_red.gif) circle;
}

td {
        font-size: 0.8em;
        height: 0.8em;
        vertical-align: top;
        font-family: Verdana, Helvetica
}




.line {
	background-color: #ffffcc;
        }

.label {
        font-size: 0.7em;
        font-weight: bold;
        text-align: right;
        padding-right: 1em;
        width: 130px;

}

.line2 {
	background-color: #ffffff;
}